<!DOCTYPE html>
<html>
	<head>
		<title>Web app.</title>	
	</head>
	<center>
		<body bgcolor="#7FFFD4">
			<br>
			<br>
			<br>
			<h2>Please enter your name.</h2>
			<form action = "/getplayeronename" method = "post">
	 			<input type = "text" name = "player_one_name">
				<br>
				<br>
				<input id = "submit" type = "submit">
			</form>
		</body>
	</center>
</html>


