<!DOCTYPE html>
<html>
	<head>
		<title>Web app.</title>	
	</head>
	<body>
		<h2>Hello, please choose your player types. You can choose a human player, or an AI player which is either "simple" or "sequential."</h2>
		<h4>Player one:</h4>
		<form action = "/input" method = "post">
			<select name = "player_one">
 			<option value = "Human">Human</option>
			<option value = "Simple AI">Simple</option>
  			<option value = "Sequential AI">Sequential</option>
			</select>
		<h4>Player two:</h4>
			<select name = "player_two">
 			<option value = "Human">Human</option>
			<option value = "Simple AI">Simple</option>
  			<option value = "Sequential AI">Sequential</option>
			</select>
			<br>
			<input type = "submit">
		</form>
	</body>
</html>
