<!DOCTYPE html>
<html>
	<head>
		<title>Web app.</title>	
	</head>
	<body>
		<h2>Hello, would you like player one to be human or AI?</h2>
		<form action = "/input" method = "post">
			<input type = "text" name = "player_one">
			<br>
			<input type = "submit">
		</form>
	</body>
</html>
