<!DOCTYPE html>

<html>
	<head>
		<title>Web app.</title>	
	</head>
	<body>
		<h2>Player one is <%=player_one%> and player two is <%=player_two%>.</h2>
		<br>
		<h4>Would you like player one or two to be X?</h4>
		<form action = "/playermarker" method = "post">
			<select name = "player_one">
 			<option value = "Human">Human</option>
	</body>
</html>